
.Error
{
  background-color:azure;
  height: 400px;
  font-family:manifapro;
  font-size: medium;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.button
{
  background: #159AFF;
  color:white;
  font-family: inherit;
}
