<app-signer-home></app-signer-home>

<div style="padding:1.9vw;">
  <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row; height:50px; ">
   <div>
      <span style="font-size: 1.8vw;">Signed Documents</span>
   </div>
   <div>
    <div class="search-container">
      <mat-icon class="search-icon">search</mat-icon>
      <input type="search" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()" placeholder="Search">
  </div>
      <!-- <mat-form-field appearance="outline"  id="homesearchbar">
          <mat-icon matSuffix id="searchicon">search</mat-icon>
          <div style="display:flex; justify-content: center; align-items: center; flex-direction: row;">
           <input  matInput placeholder="Search">
          </div>
     </mat-form-field> -->
   </div>
  </div>
  <br>

      <section class="example-container mat-elevation-z0" tabindex="0">
          <table mat-table [dataSource]="filteredItems">

            <!-- Position Column -->
            <ng-container matColumnDef="document_id">
              <th mat-header-cell *matHeaderCellDef> S.No </th>
              <td mat-cell *matCellDef="let element"> {{element.document_id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Issued to </th>
              <td mat-cell *matCellDef="let element"> <div class="mbox9">
                <!-- ['EmployeeName', 'BadgeNumber', 'Sticker']; -->
                <!-- <img src="../../../../assets/images/sampleimage.jpeg" width="32px" height="32px" id="profileimg"> -->
                <mat-icon style="font-size: 2vw; padding: 0.5vw; z-index: 1;">account_circle</mat-icon>
                &nbsp;
                {{element.receiver_id}}
              </div> </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="document_title">
              <th mat-header-cell *matHeaderCellDef> Document details </th>
              <td mat-cell *matCellDef="let element"> {{element.document_title}} </td>
            </ng-container>

            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">{{ element.status == 2 ? 'Approved' : (element.status == 3 ? 'Rejected' : 'Unknown') }}
              </td>
            </ng-container>
            <ng-container matColumnDef="View">
              <th mat-header-cell *matHeaderCellDef> View Certificate </th>
              <td mat-cell *matCellDef="let element">
                <div class="mbox10">
                  <button mat-button (click)=" downloadFile(element.doc_file, 'Certificate.pdf')">
                    <img src="../../../../assets/images/documents.png" alt="pdf" width="32px" height="32px" />
                  </button>
              </div>
              <!-- <img [src]="basestring1" alt="Your Image"> -->
           </td>
            </ng-container>
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> View Details</th>
              <td mat-cell *matCellDef="let element">
                <div class="mbox10">
                  <button mat-button (click)="details(element.doc_det)">
                    <img src="../../../../assets/images/details.png" alt="pdf" width="32px" height="32px" />
                  </button>
              </div>
              <!-- <img [src]="basestring1" alt="Your Image"> -->
           </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="background-color: #D9EFFD;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"  class="data-item"></tr>
          </table>
        </section>


  </div>
