@font-face {
  font-family: manifapro;
  src: url(../../../../assets/Fonts/ManifaPro2_2.224-Regular.otf) format('opentype');
}

.mffw {
  width: auto;
  height: 2vh;
  color: white;
}

::ng-deep .mat-mdc-form-field {
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
}


body {
  font-family: manifapro;
}
.text
{
  font-family: manifapro;
  font-size: medium;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

#searchbar {
  padding: 0px;
  width: 20vw;
  height: 3vh;
  border-radius: 25px;
}

#formfields {
  width: 20vw;
  height: 3vh;
}

span {
  font-size: 1.2vw;
  font-family: manifapro;
}

::ng-deep .mat-form-field ::placeholder {
  font-size: 1vw;
  font-family: manifapro;
}

::ng-deep .mat-mdc-select-value,
::ng-deep .mat-mdc-select-arrow {
  color: rgb(8, 8, 8);
  font-family: manifapro, "Arial Narrow Bold";
}

.file-cnt {
  background-color: white;
  outline: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  row-gap: 2vw;
  height: auto;
  width: auto;
  border-radius: 5px;
}

.fileupload {
  padding-left: 1vw;
  width: 28vw;
  height: auto;
  outline: none;
  background-color: white;
  box-shadow: inset;
}

::-webkit-file-upload-button {
  background-color: #159aff;
  color: white;
  border: none;
  padding: 10px;
  font-family: manifapro;
  border-radius: 5px;
}
