<mat-toolbar style="background-color: #083b6b;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <!-- <mat-icon style="color:#159AFF">verified_user</mat-icon> -->
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#159AFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm-2 16l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z"/></svg>
  </button>
  <span style="color:white;" class="header-text">Doc</span><span style="color:#159AFF;" class="header-text">Shield</span>
  <div style="display: flex; justify-content: right;  align-items: center; align-content: flex-end; flex-wrap: nowrap; flex-direction: row; column-gap: 1.67vw;  border-radius: 0;" class="example-spacer">
      <nav >
          <a href="#" routerLink="/sigin_issue" routerLinkActive="active">Home</a>
          <a href="#" routerLink="/signin_h" routerLinkActive="active">Signed Documents</a>
          <div class="animation start-home"></div>
      </nav>
        <div class="demo-section" >
          <mat-icon  matBadgeColor="warn" matBadgeOverlap="false"  style="font-size: 30px; line-height: -15px;">notifications</mat-icon>
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/></svg> 
          <!-- Include text description of the icon's meaning for screen-readers -->
            <span class="cdk-visually-hidden">
              Example with a home icon with overlaid badge showing the number 15
            </span>
        </div>
        <div  style="display: flex; justify-content: center; align-items: center; flex-direction: row; column-gap: 10px;">
          <img   src="../../../../assets/images/21212112.png"  alt="Loading" class="profile-image">
          <span  style="color:white;">IBM Signer</span>
          <button mat-raised-button class="example-icon" (click)="logout()"  color="primary">Logout</button>
      </div>
  </div>
</mat-toolbar>
<div >
  <router-outlet>

  </router-outlet>
</div>

